$colors:(
    btn1:#8490ff,
    btn2:#62bdfc,
    second-color:#fff,
    txt:#777777,
    title:#222222,
    link:#8490ff,
    bannerBg1:#8490ff,
    bannerBg2:#62bdfc
);
$device-size:(
    max-width:1140px
);