.category-box-img {
    width: 100%; 
  }
  .category-box {
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
  }
  .category-box h3, .category-box p {
    color: $color-white;
    text-align: center; 
  }
  .category-box h3 {
    font-weight: 600;
    text-transform: uppercase; 
  }
  .category-content {
    width: 100%;
    position: absolute;
    z-index: 4; 
  }
  .category-content p:before {
    content: '';
    display: block;
    background-color: $color-white;
    height: 2px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 1rem; 
  }
  .category-opacity {
    background-color: $title-color;
    opacity: 70%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin: 2rem; 
  }