.comment-section h2 {
  text-align: center;
  font-weight: 600;
  margin: 10rem 0 3rem 0; 
}
.comment-section img {
  width: 6rem;
  align-self: center;
  margin: 0 1rem; 
}
.comments {
  display: flex; 
}
.comments > div {
  width: 100%;
  display: flex;
}
.comments > div h3 {
  color: $title-color;
  margin: 1rem 1rem 0 1rem; 
}
.comments > div .comment-date {
  color: silver;
  margin: 0 1rem 1rem 1rem; 
}
.comments .reply-btn {
  background-color: $color-white;
  align-self: center;
  border: 1px solid #c2c3c4;
  padding: .5rem 1.5rem;
  margin: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif; 
}
.container-comments.is-reply img {
  margin-left: 4rem; 
}
.container-comments {
  margin: 2rem; 
}
.leave-comment h2 {
  text-align: center;
  font-weight: 600;
  margin: 5rem 0 2rem; 
}
.leave-comment {
  display: flex;
  flex-direction: column;
  align-items: center; }
.leave-comment form {
  width: 100%; 
}
.leave-comment form input, .leave-comment form textarea {
  border: 1px solid #c2c3c4;
  margin: 1rem;
  width: calc(100% - 2rem);
  padding: 1rem; 
}
.leave-comment form textarea {
  height: 15rem; 
}