.blog-article-info-aside.blog-article-info-social i {
    font-size: 1rem; 
  }
  
  .blog-article-info-aside.blog-article-info-social {
    display: flex;
    justify-content: flex-end; 
  }
  .blog-article-info-aside.blog-article-info-social i {
      padding: 1rem 2rem 1rem 0; 
  }
  .blog-article-info-aside.blog-article-info-social a {
    padding: 0; 
  }