form.widget-warp {
    width: calc(100% - 6rem); 
}
form.widget-warp::after {
  background-color: #DCDEDF;
  height: 2px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -2rem;
  content: "";
}