aside, .aside-widget-author {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .aside-widget-author {
    text-align: center; 
  }
  .aside-widget-author img {
    margin: 2rem 0; 
  }
  .aside-widget-author .aside-widget-author-info {
    margin: 0; 
  }