.blog-article-info-aside a {
    margin: 0; 
  }
  .blog-article-info-aside i {
    color: $title-color;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem; 
  }
  .widget-popular-title {
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    padding: 1rem 8rem;
    font-weight: 600;
    font-size: 1.4rem;
    width: calc(100% - 6rem);
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;
    margin-bottom: 3rem; 
  }
  .widget-popular  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
  }
  .widget-popular-content {
    display: flex;
    margin: 2rem 0;
    width: calc(100% - 2rem);
    max-width: 400px; 
  }
  .widget-popular-content > div {
    width: 20rem; 
  }
  .widget-popular-content img {
    width: 12rem; 
  }
  /* WIDGET WARP */ 
  .widget-warp {
    max-width: 560px; 
  }