$settings: (
    maxWidth: 1140px,
    columns: 12,
    margin: 15px,
    breakpoints: (
        sm: "(min-width: 600px)",
        md: "(min-width: 900px)",
        lg: "(min-width : 1040px)"
    )   
);


@mixin renderGridStyles($settings){
  @media (max-width: 600px){
    .container{
      max-width:550px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (max-width: 900px){
    .container{
      max-width:800px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (max-width: 1200px){
    .container{
      max-width:1140px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .container {
    width: 100%;
    padding-right: map-get($settings, "margin");
    padding-left: map-get($settings, "margin");
    margin-right: auto;
    margin-left: auto;
    max-width: map-get($settings,"maxWidth");
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: map-get($settings, "margin") * -1;
    margin-left: map-get($settings, "margin") * -1;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg {
  position: inline;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
.col{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
  $i: 1;
  @while $i <= map-get($settings, "columns") {
    .col-#{$i} {
      flex: 0 0 100% * $i / map-get($settings,"columns");
      max-width: 100% * $i / map-get($settings,"columns");
    }
    $i: $i+1;
  }
  $breakpoints: map-get($settings, "breakpoints");
  @each $key, $breakpoint in $breakpoints {
    @include media($breakpoint) {
      @include renderGrid($key, $settings);
    }
  }
}

@mixin renderGrid($key, $settings) {
  $i: 1;

  @while $i <= map-get($settings, "columns") {
    .col-#{$key}{
      flex-basis:0;
      flex-grow:1;
      max-width: 100%;
    }
    .col-#{$key}-#{$i} {
      flex: 0 0 100% * $i / map-get($settings,"columns");
      max-width: 100% * $i / map-get($settings,"columns");
    }
    $i: $i+1;
  }
}

@mixin media($queryString){
    @media #{$queryString} {
      @content;
    }
}

@include renderGridStyles($settings);
