
.contact-form-field input, .contact-form-field textarea {
  width: calc(100% - 2rem);
  margin: 1rem; 
}

input::placeholder, textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: $txt-color;
  font-size: 1rem; 
}

.contact-form input, .contact-form textarea {
  padding: 1rem; 
}

.contact-form textarea {
  height: 200px; 
}

.contact-form-field button {
  background-color: $color-primary;
  border: none;
  font-family: "Poppins", sans-serif;
  color: $color-white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-style: normal;
  font-weight: 600;
  align-self: flex-end;
  margin: 0 1rem 8rem; 
}

.contact-form-field.contact-form-box-txt {
  display: flex;
  flex-direction: column; 
}