section.section-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}
section.section-map div.row {
  width: 100%; 
}
.contact-info-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  margin: 1rem; 
}
.contact-info-content i {
  color: #9187FF;
  font-size: 2.5rem;
  padding: .5rem; 
}
.contact-info-content h3 {
  color: $title-color;
  font-weight: 400; 
}
.contact-info-content a{
  margin: 0;
  color:#000;
}
.section-title.contact-form-box {
    margin-bottom: 0; 
}