.section-map {
    background-color: #FAF9FF; 
} 
.map-google {
  width: 100%;
  height: 550px;
  border: 0;
  margin-top: 3rem; 
}
.map-contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}  