html {
	font-size: 14px;
	height: 100%;
    line-height: 1.8; 
}
  
p, h1, h2, h3, h4, h5, h6, a {
    font-family: "Poppins", sans-serif; 
}

h5 {
    color: $title-color;
    font-size: 2rem; 
}
  
h1, h2, h3, h4, h5, p, a {
     margin: 1rem; 
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

html {
    font-size: 16px; 
  }
  
  p, h1, h2, h3, h4, h5, h6, a {
    font-family: "Poppins", sans-serif; 
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; 
  }
  
  p {
    color: $txt-color; 
  }

  h1 {
    color: $title-color;
    font-size: 2.5rem;
    font-weight: 600; 
  }
  
  h2 {
    color: #000;
    font-size: 1.7rem;
    font-weight: 500; 
  }
  
  h3 {
    color: #6c6c6c;
    font-size: 1.3rem;
    font-weight: 500; 
  }
  
  h4 {
    color: #000;
    font-size: 1.5rem; 
  }
  
  h1, h2, h3, h4, h5, p, a {
    margin: 1rem; 
  }
  .section-warp {
    display: flex;
    justify-content: center;
  }
  .section-warp img {
    display: inline-block;
  }
  .sect-title {
    margin: 6rem 0; 
  }
  .sect-title h2, .sect-title p {
    text-align: center;
  }
  .sect-title h5, .services-title h5{
    font-weight: 900;
    margin-bottom: 1rem;
    text-transform: capitalize;
  
  }