.level25{
    width: 25%;
  }
  .level50{
    width: 50%;
  }
  .level70 {
    width: 70%; 
  }
  .level75 {
    width: 75%; 
  }
  .level85 {
    width: 85%; 
  }
  .level90 {
    width: 90%; 
  }
  .level95 {
    width: 95%; 
  }
  .level100 {
    width: 100%; 
  }