.portfolio h3 {
    color: $title-color;
    text-align: center; 
  }
  .portfolio p {
    text-align: center; 
  }
  section.warp.section-portfolio {
    margin-bottom: 12rem;
    width: auto;
  }
  .portfolio-overlay-content {
    position: relative;
  }
  .portfolio-overlay-img {
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background-color: $color-primary;
    background-image: linear-gradient(to top, $color-primary, $color-secondary);
    background-image: -moz-linear-gradient(to top, $color-primary, $color-secondary);
    background-image: -webkit-linear-gradient(to top, $color-primary, $color-secondary);
    background-image: -o-linear-gradient(to top, $color-primary, $color-secondary);
    transition: 1s ease-in-out; 
  }
  .portfolio-content {
    margin: 1rem; 
  }
  .portfolio:hover .portfolio-overlay-img {
    opacity: 85%; 
  }
  .portfolio-overlay-img {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .portfolio-overlay-img i {
    color: $color-white;
    font-size: 2.8rem; 
  }